button.b-button.b-recurrencelegendbutton {
  margin-bottom: 10px;
}

.calendar-start-date-field input,
.calendar-start-time-field input,
.calendar-end-date-field input,
.calendar-end-time-field input,
.calendar-notification-date-field input {
  padding-left: 28px !important;
}

.calendar-request-note-field label {
  flex: 1 0 6em;
}

.calendar-request-note-field textarea {
  border: 1px solid #a7b0bc;
}