.color-picker {
    width: 70px;
    &__color-selector {
        height: 28px;
        width: 28px;
        min-height: unset;
        @extend .my-1;
        @extend .mx-1;
    
    }
    &__popover {
        &>div {
            max-width: 152px;
        }
        max-width: unset;
        .popover-body {
            @extend .p-0;
            display: flex;
        }
        .arrow {
            display: none;
        }
    }
    &__dropdown {
        &:hover, &:focus, &:active {
            background-color: $grey--000 !important;
            color: $secondary !important;
        }
    }
    &__button-color {
        &.disabled, &:disabled {
            opacity: 1;

        }
    }
}