.dashboard-card {
    height: 100% !important;
    @extend .shadow-sm;
    overflow: hidden;
    transition: box-shadow 200ms ease-in-out;
    .hq-pg {
        &__title {
            @include font-size(16px);
            font-weight: 700 !important;
        }
    }

    &--no-min-height {
        min-height: unset;
    }

    &:hover {
        @extend .shadow;
    }

    &__container {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border-radius: .5rem;
    }

    &__table-wrapper {
        height: 100%;
    }

    &__table {
        max-height: 100%;
    }

    &.dashboard-card--project-dashboard-date {
        grid-column: auto / span 6;
        font-size: 1.286em;
        cursor: pointer;
    }

    &__header {
        display: flex;
        height: 56px;
        flex-direction: row;
        align-items: center;
        padding: 0 16px;
        font-weight: 700;
        background-color: $white;
        @include font-size (16px);

        .flatpickr-calendar.static {
            left: -50%;
        }

        @media (max-width: 420px) {
            height: unset;
            min-height: 60px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            .flatpickr-calendar.static {
                left: -46%;
            }
        }

        .daily-logs__datepicker--wrapper {
            &.form-row__field-input {
                @media (max-width: 420px) {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__icon-and-heading {
        display: flex;
        align-items: center;
        margin-right: 8px;
        font-size: 1.143em;
        white-space: normal;
        flex: 1;
        line-height: 1;
        overflow: hidden;
    }

    &__header {
        &-icon {
            margin-right: 8px;
            font-size: 1.286rem;
        }

        .header-tab-group__option:hover {
            font-weight: 700;
        }

        &-links {
            font-weight: normal;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        overflow: hidden;
        padding: 0;
        min-height: 240px;

        &.pie-chart {
            @media (max-width: 640px) {
                min-height: 180px;
            }
        }

        &--log-card {
            min-height: 100px;
        }

        &__see-more-link {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .table th,
        .table td {
            height: 36px;
            border: none;
            vertical-align: middle;
            white-space: nowrap;
        }
    }

    &__footer {
        height: 48px;
        padding: 0 16px;
        background-color: $white;
        display: flex;
        align-items: center;

        .btn, a {
            &:hover {
                text-decoration: none;
            }
        }
    }

    .filter-tabs {
        height: 100%;
        margin-right: -16px;
        display: flex;

        .btn-group {
            height: 100%;
            width: auto;
            margin-left: auto;
        }

        .btn {
            border-bottom-color: transparent;
            min-width: unset;
            max-width: 144px;
        }
    }

    &__date {
        font-weight: 700 !important;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__empty-icon {
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        @extend .bg-grey--000;
        @extend .me-2 !optional;
        @extend .rounded-circle;
    }
    &__default-tab-icon {
        font-size: 0.6em;
        color: $cerulean;
        margin-right: 0.5em;
    }
}
.log-card {
    &__content {
        flex: auto;
        min-height: unset;
    }

    &__categories {
        display: flex;
        height: 100%;
        flex-flow: wrap;
        //justify-content: center;
        padding: 16px 0;
        align-items: center;
    }

    &__category-container {
        text-align: center;
    }

    &__category {
        border: none;
        width: 120px;
    }

    &__category-title {
        text-transform: uppercase;
    }

    &__category-circle {
        width: 50px;
        margin-left: auto;
        margin-right: auto;

        .btn {
            // color: $grey--500;
            font-size: 150%;
            font-weight: bold;

            &:hover {
                //  color: $green;
            }

            span, log-card__icon {
                @include font-size (16px);
            }
        }
    }
}
.changeManagement-card {
    &__content {
        flex: auto;
        min-height: unset;
        align-items: center;
    }

    &__categories {
        display: flex;
        height: 100%;
        flex-flow: wrap;
        //justify-content: center;
        padding: 16px 0;
        align-items: center;
    }

    &__category-container {
        text-align: center;
    }

    &__category {
        border: none;
        width: 120px;
    }

    &__category-title {
        text-transform: uppercase;
    }

    &__category-circle {
        width: 50px;
        margin-left: auto;
        margin-right: auto;

        .btn {
            // color: $grey--500;
            font-size: 150%;
            font-weight: bold;

            &:hover {
                //  color: $green;
            }

            span, log-card__icon {
                @include font-size (16px);
            }
        }
    }
}

.chart-card {
    &__content {
        min-height: 275px;

        @media (max-width: 640px) {
            min-height: 355px;
        }
    }
}

.documentCount-card {
    &__content {
        flex: auto;
        min-height: unset;
        align-items: center;
    }

    &__categories {
        display: flex;
        height: 100%;
        flex-flow: wrap;
        //justify-content: center;
        padding: 16px 0;
        align-items: center;
    }

    &__category-container {
        text-align: center;
    }

    &__category {
        border: none;
        width: 120px;
    }

    &__category-title {
        text-transform: uppercase;
    }

    &__category-circle {
        width: 50px;
        margin-left: auto;
        margin-right: auto;

        .btn {
            // color: $grey--500;
            font-size: 150%;
            font-weight: bold;

            &:hover {
                //  color: $green;
            }

            span, log-card__icon {
                @include font-size (16px);
            }
        }
    }
}
.dashboard-messaging {
    &__container {
        &--no-data {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
        }

        &-message {
            &--no-data {
                display: flex;
                flex-direction: row;
                align-items: center;
                color: $secondary;
            }
        }
    }

    &__message-icon-contain--no-data {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $grey--100;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-right: 8px;
    }
}

.weather {
    &-card {
        &__header-location {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: $secondary;
            font-weight: 400;

            span {
                margin-right: 4px;
                font-size: 1em;
            }
        }

        &__current {
            &-weather {
                display: flex;
                font-size: 1.571em;

                &-contain {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: $cerulean;
                    overflow: hidden;
                }

                &-heading {
                    font-size: 0.857em;
                    color: $woodsmoke;
                    font-weight: 700;
                    margin-bottom: 5px;
                    margin-top: 16px;
                }

                &-icon--img {
                    max-height: 36px;
                    border-radius: 50%;
                }
            }

            &-temp {
                font-size: 2.5em;
                margin-right: 4px;
                line-height: 1;

                &-weather {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        &__forecast {
            &-contain {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                padding: 16px 0 0 0;
            }

            &-day {
                margin-bottom: 4px;
                font-weight: 700;

                &-contain {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    align-items: center;
                    padding: 0 8px;
                    border-right: 1px solid $alto;

                    &:last-child {
                        border-right: none;
                    }
                }
            }

            &-temps {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                margin: 8px;
                font-size: 1.143em;
            }

            &-high-temp {
                margin-right: 4px;
                font-weight: 700;
            }

            &-low-temp {
                margin-left: 4px;
                color: #95989A;
            }

            &-precipitation {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 4px 0;
            }
        }

        &__precip {
            &-icon {
                margin-right: 8px;
            }

            &-by-time {
                display: flex;
                flex-direction: column;
            }

            &-time-percent {
                display: inline-flex;
                flex-direction: row;
                padding: 0;
                line-height: 1.1;
                font-size: 0.857em;
                font-weight: 700;
            }

            &-percent {
                flex: 1;
                margin-left: 6px;
                text-align: center;
                font-weight: 500;
            }
        }
    }

    &-message__icon {
        color: #95989A;
        font-size: 1.0em;
    }
}
