.fsi-sidebar {
    top: $global-header-height;
    height: calc(100% - #{$global-header-height}) !important;
    &--aia-application {
        height: calc(100% - 85px - #{$global-header-height}) !important;
    }

    @include media-breakpoint-down(xl) {
        top: $global-header-height--mobile;
        height: calc(100% - #{$global-header-height--mobile}) !important;
    }

    &--nested {
        //position: absolute !important;
        top: 0 !important;
        height: 100% !important;
    }

    .b-sidebar-body {
        position: relative;
    }

    .title-notice {
        font-size: 12px;
        font-style: oblique;
        font-weight: 500;
    }

    .text-notice {
        font-style: italic;
        color: rgb(94, 105, 116);
        font-weight: 300;
    }

    .fsi__shadow {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.089), 0 3px 6px rgba(0, 0, 0, 0.164);
    }

    .sidebarloader-center {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        margin: auto;
    }
}