.help-center {
    &__body {
        padding: 0;
    }
    &__section {
        @extend .p-3;
        @extend .border-bottom;
    }
    &__section-header {
        font-size: 90%;
        font-weight: bold;
        color: $secondary;
        @extend .mb-2;
    }
    &__article {
        @extend .mb-2;
        &--video {
            display: flex;
            align-items: center;
        }
    }
    &__article-header {
        @extend .default-heading;

    }
    &__video-header {
        @extend .fw-bold;
        @extend .text-pink;
    }
    &__product-updates-header {
        font-size: 90%;
        font-weight: bold;
        color: $cerulean;
        @extend .mb-2;
    }
    &__product-updates-title {
        @extend .default-heading;
    }
    
}