@import 'multiselect--default.scss';
.ms_inputstyles {
    font-family: inherit;
    font-size: inherit; //@include font-size(14px);
    touch-action: manipulation;
}

.modal {
    .typeahead, .multiselect__wrapper {
        .multiselect {
            &--tags {
                &.multiselect {
                    &--active {
                        .multiselect {
                            &__tags {
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
                .multiselect {
                    // &__content-wrapper {
                    //     position: relative;
                    // }
                }
            }
        }
    }
}

.typeahead, .multiselect__wrapper {
    height: $form__input---height;
    //position: relative;
    &.multiselect {
        &__pills {
            .multiselect {
                &__content-wrapper {
                    position: relative;
                    top: 0;
                }
                &__tags {}
                &.show {
                    .multiselect__tags {
                        padding-top: 25px;
                        height: auto;
                    }
                }
            }
        }
    }
    .multiselect {
        box-sizing: content-box;
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        text-align: left;
        @extend .ms_inputstyles;
        &--tags {
            min-height: 40px;
            .multiselect {
                &__tags-wrap {
                    padding-bottom: 5px !important;
                }
            }
            &.multiselect--active {
                .multiselect {
                    &__tags-wrap {
                        max-height: unset;
                    }
                }
            }
            .multiselect {
                &__tags {
                    min-height: 40px;
                    flex-direction: column-reverse;
                }
                &__content-wrapper {}
                &__tags-wrap {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 10px;
                    max-height: 100px;
                    overflow: auto;
                }
                &__input {
                    min-height: 40px;
                }
            }
        }
        &--disabled {
            background: transparent;
            .multiselect {
                &__tags {
                    background-color: $disabled-bg;
                }
                &__single {
                    background: transparent;
                }
                &__select {
                    display: none;
                }
            }
        }
        &__label {
            &--above {
                position: absolute;
                top: 0;
                height: 20px;
                width: 100%;
                background: $input-focus-border-color;
                z-index: 10;
                @include font-size(13px);
                padding: 0 8px;
                color: $white;
                &::after {
                    content: "";
                    position: absolute;
                    height: 13px;
                    width: 100%;
                    top: 3px;
                    left: 0;
                    box-shadow: 0 0 0 0.1rem rgba($border-active, .5);
                }
            }
        }
        &__pills {
            .multiselect {
                &.show {
                    .multiselect__tags {
                        height: auto;
                        padding-top: 30px;
                    }
                }
            }
        }
        &__select {
            height: 100% !important;
            width: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            //z-index: 2;
            &:before {
                top: unset;
                margin-top: 0;
            }
        }
        &__tags {
            font-size: inherit; //@include font-size(14px);
            line-height: 1.467;
            border: 1px solid $input-border-color;
            color: $grey--900;
            display: block;
            border-radius: 4px;
            background: #fff;
            height: 100%;
            width: 100%;
            overflow: hidden;
            padding: unset;
            padding-right: 32px;
            display: flex;
            align-items: center;
            white-space: nowrap;
            >span {
                //display: flex;
                //height: 100%;
                //align-items: center;
                &>span {
                    background: transparent;
                    margin: 0 !important;
                    padding: 0 !important;
                    min-height: 20px !important;
                }
            }
        }
        &__option {
            font-size: inherit; //@include font-size(14px);
            min-height: auto;
            padding: $list-padding;
            border-top: 1px solid $grey--100;
            line-height: auto;
            min-height: 31px;
            //display: flex;
            &--inactive {
                span {
                    color: lighten($grey--300, 5%);
                    text-decoration: line-through;
                    font-style: italic;
                    .multiselect {
                        &__icon {
                            color: lighten($grey--300, 5%) !important;
                            &--selected {
                                color: lighten($grey--300, 5%);
                            }
                        }
                    }
                }
            }
            &--disabled {
                background: $grey--000 !important;
                span {
                    &.group__header {
                        background: $grey--000;
                        color: $grey--900;
                        font-weight: bold;
                    }
                    &.disabled__option {
                        color: lighten($grey--300, 5%);
                        font-style: italic;
                        .multiselect {
                            &__icon {
                                color: lighten($grey--300, 5%) !important;
                                &--selected {
                                    color: lighten($grey--300, 5%);
                                }
                            }
                        }
                    }
                }
            }
            &--highlight {
                color: $black;
                background-color: $list-hover;
                &::after {
                    line-height: normal;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    color: $primary;
                    font-weight: bold;
                    @include font-size(14px);
                    background: transparent;
                    &:hover {
                        color: darken($primary, 15%);
                    }
                }
            }
            &--selected {
                background-color: $white;
                color: $black;
                border: none;
                border-top: 1px solid #e1e4e8;
                &.multiselect__option--highlight {
                    color: $black;
                }
            }
            &--group {
                background: $green;
                color: $white;
                transition: background 300ms ease-in-out;
                position: sticky;
                top: 0;
                &:hover {
                    background: darken($green, 5%);
                }
            }
            &--group-selected {
                font-weight: bold;
            }
        }
        &__option-span {
            min-height: 17px;
        }
        &__icon {
            margin-right: 8px;
            &--selected {
                color: $green;
            }
        }
        &__single,
        &__input {
            position: relative;
            border: none;
            width: 100%;
            padding-left: 12px;
            align-items: center;
            @extend .ms_inputstyles;
            margin-bottom: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            &:focus {
                outline: none;
                border: none;
                box-shadow: none;
            }
        }
        &__placeholder {
            position: relative;
            border: none;
            width: 100%;
            box-sizing: border-box;
            font-size: inherit; //@include font-size(14px);
            height: 100%;
            padding-left: 12px;
            display: flex;
            align-items: center;
            color: $grey--300;
            display: none;
        }
        &__content-wrapper {
            z-index: 60 !important;
            /*box-shadow: 0 0 0 0.1rem rgba($border-active,.5);
            border-color: $input-focus-border-color;
            border-top: none;*/
            top: calc(100% + 4px);
            width: auto;
            min-width: 100%;
            max-width: calc(100vw - 72px - 48px);
            min-height: 33px;
            border-radius: $border-radius !important;
            border-top: initial;
            border: 1px solid $browser-grey !important;
            @extend .shadow-sm;
            @include media-breakpoint-down(xl) {
                max-width: calc(100vw - 40px);
            }
        }
        &__content {
            width: auto;
            overflow: auto;
        }
        &__option {
            .option__title {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &.show {
            .multiselect {
                &__select {
                    //z-index: -1 !important;
                }
                &__single {
                    //padding-top: 16px;
                }
            }
        }
        &--active {
            .multiselect {
                &__single {
                    display: none;
                    flex-shrink: 1;
                }
                &__select {
                    //z-index: 2;
                }
                &__tags {
                    box-shadow: 0 0 0 0.1rem rgba($border-active, .5);
                    border-color: $input-focus-border-color;
                }
                &__tags,
                &__input {
                    border-top-right-radius: $border-radius !important;
                    border-top-left-radius: $border-radius !important;
                    border-bottom-right-radius: $border-radius !important;
                    border-bottom-left-radius: $border-radius !important;
                }
            }
        }
        &--focus {
            .multiselect__select {
                //z-index: 2;
            }
            .multiselect__tags {
                box-shadow: 0 0 0 0.1rem rgba($border-active, .5);
                border-color: $input-focus-border-color;
            }
        }
        &--above {
            .multiselect {
                &__tags {
                    &:after {
                        top: -3px;
                        bottom: auto;
                    }
                }
                &__content-wrapper {
                    bottom: calc(100% + 20px);
                    top: unset;
                    border-radius: $border-radius;
                }
            }
        }
        &.inputError,
        &.fs-input__input--error {
            .multiselect__select {}
            .multiselect__tags {
                border: 1px solid $red !important;
                background: lighten($red, 40%);
            }
            .multiselect__placeholder {
                color: $red !important;
            }
            .multiselect__input {
                background: lighten($red, 40%);
                color: $red;
                &:-moz-placeholder {
                    color: $red;
                }
                &::-moz-placeholder {
                    color: $red;
                    opacity: 1;
                }
                &:-ms-input-placeholder {
                    color: $red;
                }
                &::-webkit-input-placeholder {
                    color: $red;
                }
                &.placeholder {
                    color: $red;
                }
            }
            .multiselect__select:before {
                color: $red;
                border-color: $red transparent transparent;
            }
            .multiselect__option {
                &--disabled {
                    background-color: $grey--900;
                    color: $white;
                    border-top: none;
                }
                &--selected {
                    border-color: $red;
                    &.multiselect__option--highlight {
                        border-color: $red;
                    }
                }
            }
            &.multiselect--active {
                .multiselect__tags {
                    border-color: $red;
                    box-shadow: 0 0 0 0.1rem rgba($red, .5) !important;
                }
            }
        }
        &__tags-wrap {
            display: flex;
            flex-wrap: wrap;
            padding: 10px;
            width: 100%;
        }
        &__btn-tag {
            @extend .me-1 !optional;
            @extend .mb-1 !optional;
            .btn {
                height: unset;
                min-height: unset;
                text-transform: unset;
                @extend .py-0;

            }
        }
        &__btn-tag-label {
            &:disabled, &.disabled {
                // background-color: $cyan !important;
                // border-color: $cyan !important;
                opacity: 1 !important;
            }

        }
        &__btn-tag-close {
            @extend .px-0;
        }
        
    }
}

.multiselect--disabled .multiselect__current,
.multiselect--disabled .multiselect__select {
    background: transparent !important;
    color: #a6a6a6;
}
.multiselect--disabled .multiselect__current,
.multiselect--disabled .multiselect__select {
    background: transparent !important;
    color: #a6a6a6;
}
.multiselect-after {
    text-align: center;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__message {
        padding: 4px 0px;
        color: $silver-chalice;
        white-space: normal;
        line-height: 24px;
    }

    &__link {
        padding: 4px 0px;
        color: $primary;
        cursor: pointer;

        &--grid {
            text-align: left;
            padding-left: 12px;
        }
    }
}// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .typeahead, .multiselect__wrapper {
        .multiselect {
            &__tags {
                border-top-left-radius: 4px !important;
                border-top-right-radius: 4px !important;
                //border-bottom-left-radius: 0 !important;
                //border-bottom-right-radius: 0 !important;
            }
            /*&__content-wrapper {
                position: relative !important;
                //top: -4px !important;
                border-top: none !important;
                //border-bottom: 2px solid $border-active !important;
                border-bottom-left-radius: 4px !important;
                border-bottom-right-radius: 4px !important;
                border-top-left-radius: 0 !important;
                border-top-right-radius: 0 !important;
            }*/
        }
    }
}

@supports (-ms-ime-align:auto) {
    .multiselect__select {
        transition: none;
    }
}