.status
{
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
}

.status-active 
{    
    @extend .status;
    background-color: rgba(26, 188, 156, 0.1);
    color: rgba(26, 188, 156);
}

.status-inactive 
{   
    @extend .status;
    background-color: rgba(110, 124, 143, 0.1);
    color: rgba(110, 124, 143);
}