.setup-users {
    &__status-bubble {
        &--active {
            color: $blue;
        }
        &--inactive {
            color: $disabled-bg;
        }
    }
    &__status-indicator {
		height: 75%;
		display: inherit;
		justify-content: center;
		align-items: center;
		color: white;
		border-radius: 24px;
		@extend .px-3;
        &--active {
            background-color: $blue;
        }
        &--inactive {
            background-color: $disabled-bg;
        }
	}
    &__admin--logo {
        display: inline-block;
        font-size: inherit;
        height: 1.2em;
        width: 1.2em;
        overflow: visible;
        vertical-align: -0.125em;
        background-size: 100% 100%;
    }
}
