.user-notifications {
    &--text{
        text-decoration: none !important;
        font-weight: 400 !important;
    }
}

.notification {
    cursor: pointer;

    &:hover{
        color: $grey--900;
        background: rgba($grey--000, .6);
    }
}

.notificationBadge {
    margin-left: -8px !important;
    margin-top: -15px !important;
}

.notifications-read-container {
    text-align: center;
}

.notification-banner {
    color: $green;
    font-weight: bold;
}