$onboarding-tax-withholding-black: #15181c;
$onboarding-tax-withholding-gray: #95989a;
$onboarding-tax-withholding-orange: #f79f1f;
$onboarding-tax-withholding-blue: #03a9f4;
$onboarding-tax-withholding-red: #fc5555;
#tax-withholding {
  padding: 20px 0px 80px 0px;
  .row {
    padding: 0;
    margin: 0;
  }
  .tax-withholding-header {
    display: flex;
    justify-content: space-between;
    &__title {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: $onboarding-tax-withholding-black;
    }
  }
  .tax-withholding-label {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: $onboarding-tax-withholding-blue;
  }
  .tax-withholding-steps {
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
    color: $onboarding-tax-withholding-black;
    padding: 4px 0;
  }
  .bv-no-focus-ring {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  input[type="checkbox"]:checked,
  input[type="radio"]:checked {
    background-color: $onboarding-tax-withholding-blue;
    border-color: $onboarding-tax-withholding-blue;
  }
  input[type="checkbox"]:focus,
  input[type="radio"]:focus {
    box-shadow: unset !important;
  }
  .label-required {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: $onboarding-tax-withholding-black;
    gap: 5px;
  }
  .required {
    color: $onboarding-tax-withholding-red;
  }
  .desc-link {
    color: #1abc9c;
  }
  .tax-card-header {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #6e7c8f;
  }
  .tax-card-content {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #6e7c8f;
    &__link {
      color: #1abc9c;
    }
  }
  .tax-withholding-label {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: $onboarding-tax-withholding-blue;
  }
  .tax-box-left {
    padding: 16px;
    border: 1px solid #e1e4e8;
    border-radius: 6px 0 0 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -ms-border-radius: 6px 0 0 6px;
    -o-border-radius: 6px 0 0 6px;
  }
  .tax-text-onboarding-tax-withholding-blue {
    color: $onboarding-tax-withholding-blue;
  }
  .tax-text-onboarding-tax-withholding-red {
    color: $onboarding-tax-withholding-red;
  }
  .tax-box-right {
    display: flex;
    align-items: center;
    padding: 16px;
    border: 1px solid #e1e4e8;
    border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    -ms-border-radius: 0 6px 6px 0;
    -o-border-radius: 0 6px 6px 0;
  }
  .tax-holding-btn {
    background-color: #fff;
    border-left: none;
    border-top: solid $onboarding-tax-withholding-gray 1px;
    border-right: solid $onboarding-tax-withholding-gray 1px;
    border-bottom: solid $onboarding-tax-withholding-gray 1px;
    border-radius: 0px 5px 5px 0;
    -webkit-border-radius: 0px 5px 5px 0;
    -moz-border-radius: 0px 5px 5px 0;
    -ms-border-radius: 0px 5px 5px 0;
    -o-border-radius: 0px 5px 5px 0;
    min-height: 35px;
  }
  .message-error {
    margin: 5px 0;
    color: $onboarding-tax-withholding-red;
    display: block;
  }
  .tax-holding-ssn {
    position: relative;
    .icon-eye {
      color: $onboarding-tax-withholding-gray;
      padding-left: 4px;
      cursor: pointer;
      height: 16px;
      width: 20px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .notice {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1.5px dashed $onboarding-tax-withholding-orange;
    border-radius: 6px;
    &__file {
      color: $onboarding-tax-withholding-orange;
    }
  }
  .text-bold {
    font-weight: bold;
  }
  .pl-2 {
    padding-left: 2rem;
  }
  .b-textfield .b-fieldtrigger {
    right: 0;
  }
  .b-pickerfield {
    width: 100%;
  }
  .pointer-style {
    cursor: pointer;
  }
  .tax-note {
    color: $onboarding-tax-withholding-gray;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }
}
