$black: #15181c;
$gray: #95989a;
$green: #1abc9c;
$orange: #f79f1f;
$blue: #03a9f4;
$red: #fc5555;
$white: #fff;

#form-personal-information {
  .vertical-line {
    border-left: 1px solid #A7B0BC;
    height: 25px;
  }

  .mr-10 {
    margin-right: 10px;
  }

  .pl-0 {
    padding-left: 0px !important;
  }

  .pr-0 {
    padding-right: 0px !important;
  }

  .pl-15em {
    padding-left: 1.5em;
  }

  small {
    color: #6E7C8F;
  }

  .tax-withholding-header {
    display: flex;
    justify-content: space-between;

    &__title {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: $black;
    }
  }

  .tax-withholding-label {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: $blue;
  }

  .tax-withholding-steps {
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
    color: $black;
    padding: 4px 0;
  }

  .bv-no-focus-ring {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  input[type="checkbox"]:checked,
  input[type="radio"]:checked {
    background-color: $blue;
    border-color: $blue;
  }

  input[type="checkbox"]:focus,
  input[type="radio"]:focus {
    box-shadow: unset !important;
  }

  .label-required {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: $black;
    gap: 5px;
  }

  .required {
    color: $red;
  }

  .desc-link {
    color: #1abc9c;

    a {
      text-decoration: none;
    }
  }

  .tax-card-header {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #6e7c8f;
  }

  .tax-card-content {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #6e7c8f;

    &__link {
      color: #1abc9c;
    }
  }

  .tax-box-left {
    padding: 16px;
    border: 1px solid #e1e4e8;
    border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -ms-border-radius: 6px 0 0 6px;
    -o-border-radius: 6px 0 0 6px;
  }

  .tax-text-blue {
    color: $blue;
  }

  .tax-text-red {
    color: $red;
  }

  .tax-box-right {
    display: flex;
    align-items: center;
    padding: 16px;
    border: 1px solid #e1e4e8;
    border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    -ms-border-radius: 0 6px 6px 0;
    -o-border-radius: 0 6px 6px 0;
  }

  .tax-holding-btn {
    background-color: #fff;
    border-left: none;
    border-top: solid $gray 1px;
    border-right: solid $gray 1px;
    border-bottom: solid $gray 1px;
    border-radius: 0px 5px 5px 0;
    -webkit-border-radius: 0px 5px 5px 0;
    -moz-border-radius: 0px 5px 5px 0;
    -ms-border-radius: 0px 5px 5px 0;
    -o-border-radius: 0px 5px 5px 0;
    min-height: 35px;
  }

  .message-error {
    margin: 5px 0;
    color: $red;
    display: block;
  }

  .tax-holding-ssn {
    position: relative;

    .icon-eye {
      color: $gray;
      padding-left: 4px;
      cursor: pointer;
      height: 16px;
      width: 20px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .notice {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1.5px dashed $orange;
    border-radius: 6px;
    background: rgba(247, 159, 31, 0.06);

    &__file {
      color: $orange;
    }
  }

  .text-bold {
    font-weight: bold;
  }

  .pl-2 {
    padding-left: 2rem;
  }

  .b-textfield .b-fieldtrigger {
    right: 0;
  }

  .b-textfield .b-fieldtrigger.b-icon-remove {
    right: 20px;
  }

  .b-pickerfield {
    width: 100%;
  }

  .pointer-style {
    cursor: pointer;
  }

  .tax-note {
    color: $gray;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }

  .custom-group-radio {
    label.form-check-label {
      display: flex;
      justify-content: space-between;
    }
  }

  .radio-child:not(input) {
    padding-left: 2.5em;

    label.form-check-label {
      display: flex;
      justify-content: space-between;
    }
  }
}