$onboarding-vevraa-black: #15181c;
$onboarding-vevraa-gray: #95989a;
$onboarding-vevraa-orange: #f79f1f;
$onboarding-vevraa-blue: #03a9f4;
$onboarding-vevraa-red: #fc5555;
$onboarding-vevraa-white: #fff;

#form-VEVRAA {
  @include media-breakpoint-down(sm) {
    .tax-box-left {
      border-radius: 6px 6px 0 0;
    }

    .tax-box-right {
      border-radius: 0 0 6px 6px;
    }

    button.saveAndNext {
      width: 115px;
    }

    .form-select {
      width: 100% !important;
    }
  }

  .form-select {
    width: 180px;
  }

  .form_header {
    height: 80px;
    border-bottom: 1px solid #e1e4e8;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 2;
    font-size: 16px;
  }

  .vertical-line {
    border-left: 1px solid #A7B0BC;
    height: 25px;
  }

  .mr-10 {
    margin-right: 10px;
  }

  .pl-0 {
    padding-left: 0px !important;
  }

  .pr-0 {
    padding-right: 0px !important;
  }

  .pl-15em {
    padding-left: 1.5em;
  }

  small {
    color: #6E7C8F;
  }

  .row {
    padding: 0;
    margin: 0;
  }

  .tax-withholding-header {
    display: flex;
    justify-content: space-between;

    &__title {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: $onboarding-vevraa-black;
    }
  }

  .tax-withholding-label {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: $onboarding-vevraa-blue;
  }

  .tax-withholding-steps {
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
    color: $onboarding-vevraa-black;
    padding: 4px 0;
  }

  .bv-no-focus-ring {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  input[type="checkbox"]:checked,
  input[type="radio"]:checked {
    background-color: $onboarding-vevraa-blue;
    border-color: $onboarding-vevraa-blue;
  }

  input[type="checkbox"]:focus,
  input[type="radio"]:focus {
    box-shadow: unset !important;
  }

  .label-required {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: $onboarding-vevraa-black;
    gap: 5px;
  }

  .required {
    color: $onboarding-vevraa-red;
  }

  .desc-link {
    color: #1abc9c;

    a {
      text-decoration: none;
    }
  }

  .tax-card-header {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #6e7c8f;
  }

  .tax-card-content {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #6e7c8f;

    &__link {
      color: #1abc9c;
    }
  }

  .tax-box-left {
    padding: 16px;
    border: 1px solid #e1e4e8;
    border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -ms-border-radius: 6px 0 0 6px;
    -o-border-radius: 6px 0 0 6px;
  }

  .tax-text-onboarding-vevraa-blue {
    color: $onboarding-vevraa-blue;
  }

  .tax-text-onboarding-vevraa-red {
    color: $onboarding-vevraa-red;
  }

  .tax-box-right {
    display: flex;
    align-items: center;
    padding: 16px;
    border: 1px solid #e1e4e8;
    border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    -ms-border-radius: 0 6px 6px 0;
    -o-border-radius: 0 6px 6px 0;
  }

  .tax-holding-btn {
    background-color: #fff;
    border-left: none;
    border-top: solid $onboarding-vevraa-gray 1px;
    border-right: solid $onboarding-vevraa-gray 1px;
    border-bottom: solid $onboarding-vevraa-gray 1px;
    border-radius: 0px 5px 5px 0;
    -webkit-border-radius: 0px 5px 5px 0;
    -moz-border-radius: 0px 5px 5px 0;
    -ms-border-radius: 0px 5px 5px 0;
    -o-border-radius: 0px 5px 5px 0;
    min-height: 35px;
  }

  .message-error {
    margin: 5px 0;
    color: $onboarding-vevraa-red;
    display: block;
  }

  .tax-holding-ssn {
    position: relative;

    .icon-eye {
      color: $onboarding-vevraa-gray;
      padding-left: 4px;
      cursor: pointer;
      height: 16px;
      width: 20px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .notice {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1.5px dashed $onboarding-vevraa-orange;
    border-radius: 6px;
    background: #f0e8dc;

    &__file {
      color: $onboarding-vevraa-orange;
    }
  }

  .text-bold {
    font-weight: bold;
  }

  .pl-2 {
    padding-left: 2rem;
  }

  .b-textfield .b-fieldtrigger {
    right: 0;
  }

  .b-textfield .b-fieldtrigger.b-icon-remove {
    right: 20px;
  }

  .b-pickerfield {
    width: 100%;
  }

  .pointer-style {
    cursor: pointer;
  }

  .tax-note {
    color: $onboarding-vevraa-gray;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }

  .custom-group-radio {
    label.form-check-label {
      display: flex;
      justify-content: space-between;
    }
  }

  .radio-child:not(input) {
    padding-left: 2.5em;

    label.form-check-label {
      display: flex;
      justify-content: space-between;
    }
  }
}

.onboarding-VEVRAA {
  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }

  &__dateInput,
  &__timeInput {
    width: 142px !important;
  }

  &__saveBtn {
    display: inline-flex;
    justify-content: flex-end;
  }

  &__subTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    border-bottom: none !important;
  }

  &__uploadBtn {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    text-transform: capitalize;
    color: #000000;
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
    color: #15181c;
    display: block;
    clear: both;
    padding-bottom: 16px;
  }

  &__radio {
    line-height: 28px;
    margin-bottom: 6px;
  }

  &__checkbox {
    margin-left: 20px;

    .form-check {
      display: block;
    }
  }

  &__recentlySeparatedVeteran {
    border-right: 1px solid #6e7c8f;
    padding: 0;
  }

  &__sections {
    margin-bottom: 20px;
    padding-top: 20px;
  }

  &__bort-1 {
    border-top: 1px solid #E1E4E8;
  }

  &__input {
    border: 1px solid #95989a;
    border-radius: 3px;
    height: 36px;
    padding: 10px;
  }

  &__header {
    padding: 20px 20px 20px 24px;
    border-bottom: none !important;
  }

  .message-error {
    margin: 5px 0;
    color: #f23648;
    display: block;
  }

  .icon-eye {
    top: 50%;
    right: 11px;
    position: absolute;
    transform: translateY(-50%);
    color: #95989a;
  }

  &__formInput__required {
    color: onboarding-vevraa-red;
    margin-left: 5px;
    height: 16px;
  }

  .fsi-pg__section-head {
    border-bottom: none !important;
  }

  .form-input {
    margin-top: 15px;
  }
}

.opc-5 {
  opacity: 0.5 !important;
}

.stickyTitle {
  position: sticky;
  top: 0px;
  z-index: 999;
  background: onboarding-vevraa-white;
}

#onboardingTaskList {
  @include media-breakpoint-up(sm) {
    .onboardingDeatilCheckList {
      margin-right: 3rem !important
    }
  }

  .onboardingDeatilCheckList {
    font-size: 14px;
  }
}