.Toastify__toast-container--bottom-center {
    bottom: 16.6rem;
}

.Toastify__toast-container--bottom-center.custom-toast-bottom {
    bottom: 2rem;
}

.Toastify__toast-container {
    width: auto;
}

.Toastify__toast {
    justify-content: center;
    min-width: 31.5rem;
    height: 5.6rem;
    min-height: auto;
    padding: 0 5.6rem;
    margin-bottom: 0;
    box-shadow: none;
    border-radius: 5.6rem;

}

.Toastify__toast + .Toastify__toast {
    margin-top: 2rem;
}

.Toastify__toast-body {
    flex: none;
    padding: 0;
    margin: 0;
    font-size: var(--fz-l);
    font-weight: 500;
}

.Toastify__toast-icon {
    margin-inline-end: 1rem;
}

.Toastify__toast-body>div:last-child {
    margin-top: 0.3rem;
}

.Toastify__toast--success {
    color: #27A53B;
    border: 1px solid #D2EED6;
    background-color: #EFF9F1;
}

.Toastify__toast--error {
    color: #FF5C00;
    border: 1px solid #FFE2D1;
    background: #FFF4ED;
}