@import 'utilities';
@import 'fonts';
@import 'typography';
@import 'scroll';

:root {
    --animate-delay: 0.5s;
}

body {
    @include font-size(14px);
    transition: all 300ms ease-in-out;

    @include media-breakpoint-down(xl) {
        @include font-size(13px);
    }
    &.modal-open {
        padding-right: 0 !important;
    }
}

.picker-dialog {
    border: 1px solid #acacac;
    width: auto;
    padding: 0;
    z-index: 1036 !important;
    overflow: auto;
    box-shadow: 0 4px 16px rgba(0,0,0,.2);
}

.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
}

.alpha-0 {
    opacity: 0;
}

.alpha-1 {
    opacity: 1;
}

/*.show {
    display: block !important;
}

.hide {
    display: none !important;
}*/

.display__hover--listener {
    .display__hover {
        display: none;
    }

    &:hover {
        .display__hover {
            display: block;
        }
    }
}

.flex-overflow {
    min-height: 0;
    overflow: auto;
    flex: 1 1 auto;
}

.flex-minheight {
    min-height: 0;
}

@media only screen and (max-width : 991px) {
    .scrollable {
        height: auto;
    }
}

.fullHeight {
    min-height: 100vh !important;
}

a {
    cursor: pointer;
}

a.disabled {
    pointer-events: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: unset;
}

.width100 {
    width: 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
}

.loader {
    position: fixed;
    z-index: 9999999;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    padding-left: 250;
}

.content--full-width {
    .loader {
        padding-left: 0;
    }
}
/*Structure Utilities -- */

.contain {
    padding-left: 24px;
    padding-right: 24px;

    @include media-breakpoint-down(xl) {
        padding-left: 16px;
        padding-right: 16px;
    }
}

/*Flip Card*/
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    /* This container is needed to position the front and back side */
    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    /* Do an horizontal flip when you move the mouse over the flip box container */
    &:hover .flip-card__inner {
        transform: rotateY(180deg);
    }
    /* Position the front and back side */
    &__front, &__back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }
    /* Style the front side (fallback if image is missing) */
    &__front {
        background-color: #bbb;
        color: black;
    }
    /* Style the back side */
    &__back {
        background-color: dodgerblue;
        color: white;
        transform: rotateY(180deg);
    }
}

.file-type-input--wrapper {
    border: 1px solid $oslo-grey;
    border-radius: 5px;
    vertical-align: central;
    min-height: 40px;
    display: grid;
    outline: none;
    margin-bottom: 5px;
}

.file-type-input--wrapper:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}


.file-type-input--label {
    display: inline-grid;
    margin-right: auto;
    padding: 0.7em 0em 0em 0.7em;
}

.file-type-input--btn {
    display: inline-grid;
    margin-left: auto;
}
