.scroll {
	// Sizing
	&--xl {
		height: 20em;
	}
	&--lg {
		height: 16em;
	}
	&--md {
		height: 14em;
	}
	&--s {
		height: 12em;
	}
	&--xs {
		height: 10em;
	}
	// Custom Scroll Design 
	&-y-auto {
		overflow-y: auto;
		width: 100%;
		margin: 10px 5px;
		padding: 5px;
		text-align: justify;

		&::-webkit-scrollbar {
			width: 5px;
		}

		&::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
			border-radius: 5px;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 5px;
			-webkit-box-shadow: inset 0 0 6px var(--bs-blue);
		}
	}
}