registry=https://pkgs.dev.azure.com/fsllc/_packaging/fsllc/npm/registry/
always-auth=true

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=22F2C265-D3ED-4B79-A9E2-0DEB648FE536
@bryntum:registry=https://npm.bryntum.com
//npm.bryntum.com/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJ0cmlhbCIsImdyaWQiLCJzY2hlZHVsZXJwcm8iLCJjYWxlbmRhciJdLCJuYW1lIjoiZGV2bGljZW5zaW5nLi5mb3VuZGF0aW9uc29mdC5jb20iLCJncm91cHMiOlsidHJpYWwiLCJncmlkIiwic2NoZWR1bGVycHJvIiwiY2FsZW5kYXIiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiXSwiaWF0IjoxNjc2NjUzMzEwLCJuYmYiOjE2NzY2NTMzMTAsImV4cCI6MjU0MDU2NjkxMH0.-TCYFIfpnlNLF8s5Vzm8pfkxj23XJhorHMpo9B10TbQ