/*functions*/
@mixin font-size($size) {
    font-size: $size; //Fallback in px
    font-size: calculateRem($size);
}
@mixin box-shadow($top, $left, $blur, $spread, $color) {
    -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
}

@mixin sticky($top) {
    position: sticky;
    top: $top;
}