.details {
    &__row {
        display: flex;
        margin-bottom: 10px;
        padding-right: 16px;

    }

    &__label {
        font-weight: bold;
        width: 260px;
    }

    &__data {
        div {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__contact-type {
        margin-bottom: 20px;
    }

    &__badge {
        display: inline-block;
        padding: 4px 12px;
        border: 1px solid;
        border-radius: 15px;
        text-transform: uppercase;

        span {
            margin-left: 10px;
        }

        &.active {
            border-color: $green;
            color: $green;
        }

        &.inactive {
            border-color: $secondary;
            color: $secondary;
        }

        &.onHold {
            border-color: $danger;
            color: $danger;
        }

        &.person {
            border-color: $blue;
            color: $blue;
        }

        &.customer {
            border-color: $cyan;
            color: $cyan;
        }
    }
    &__dynamic-rich-text {
        span {
            p {
                margin-bottom: 0;
            }
            * {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
