#onboarding__emergencyContacts,
#onboarding__beneficiary,
#onboarding__dependent,
#contact-page {
  min-height: 209px;

  .list__table {
    .b-grid-row:not(:hover) .b-action-ct {
      display: none;
    }
  }

  .b-grid-splitter {
    display: none !important;
  }

  .hq-pg__title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-transform: capitalize;
    color: #15181c;
    margin: 0;

    svg {
      font-size: 20px;
      padding-right: 7px;
    }
  }

  .b-action-item {
    transform: none !important;
  }

  .updateContactBtn {
    color: #1ABC9C;
    font-size: 14px;
    text-decoration: none;
    border: 0;
    background: transparent;
    cursor: pointer;

    &:hover,
    &:focus {
      color: #1ABC9C;
      border: 0;
      background: transparent;
    }
  }

  .deleteContactBtn {
    color: #ff2a2a;
    font-size: 14px;
    text-decoration: none;
    border: 0;
    background: transparent;
    margin-left: 12px;
    cursor: pointer;

    &:hover,
    &:focus {
      color: #ff2a2a;
      border: 0;
      background: transparent;
    }
  }

  .b-fa-check {
    color: #1abc9c;
  }

  .btn-edit::after {
    color: #1ABC9C;
    content: "Edit";
    display: block;
    cursor: pointer;
    font-size: 12px;
  }

  .btn-delete::after {
    content: "Delete";
    display: block;
    cursor: pointer;
    font-size: 12px;
  }
}

#contact-page {

  .b-grid-header.b-depth-0,
  .b-gridbase.b-no-column-lines .b-grid-row .b-grid-cell {
    padding-left: 1.5em;
  }
}

#onboarding__emergencyContacts,
#onboarding__beneficiary,
#onboarding__dependent {
  border-radius: 10px;

  .b-gridbase.b-no-column-lines .b-grid-row .b-grid-cell {
    padding-left: 1.5em;
  }

  .b-grid-footer-container,
  header.b-grid-header-container {
    display: none !important;
  }

  .btn-onboardingEdit::after {
    color: #1ABC9C;
    content: "Edit";
    display: block;
    cursor: pointer;
    font-size: 12px;
  }

  .b-gridbase:not(.b-masked) .b-grid-empty .b-empty-text {
    top: 50%;
    left: 45%;
  }
}

.b-grid-row:not(:hover) [data-column="socialSecurityNumber"] .b-action-ct {
  display: block !important;
}

.socialSecurityNumberBtn {
  padding-left: 7px;
  text-decoration-line: none;
  cursor: pointer;
}

#onboarding__dependent .hq-pg__title svg {
  color: #0376f2;
}

#onboarding__emergencyContacts .hq-pg__title svg {
  color: #ff5094;
}

#onboarding__beneficiary .hq-pg__title svg {
  color: #12cbc4;
}

.add-employee-contact {
  span.required-asterisk {
    content: " *";
    color: red;
  }

  &__label {
    position: relative;
    font-size: 0.75rem;
    line-height: 1;

    .required-asterisk {
      color: red;
    }
  }

  &__showHideBtn {
    position: absolute;
    right: 14px;
    top: 8px;
    z-index: 999;
    color: #a7b0bc;
    cursor: pointer;

    &:hover,
    &:focus {
      color: #15181c;
    }
  }
}

.onboardingContactTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #15181c;
}

.onboardingContactSubTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6e7c8f;
}

.onboarding-employee-contact__header {
  padding: 20px 5px 20px 24px;
  border-bottom: none !important;
}

.onboarding-employee-contact__sections {
  margin: unset !important;
}

.contact-form__header {
  padding: 0 24px;
  border-bottom: 2px solid #03a9f4 !important;
}

.employee-contact-form,
.onboarding-employee-contact {
  @media only screen and (max-width: 390px) {
    .form-check {
      float: inherit !important;
    }

    .hq-pg__section-head {
      margin: 0;
    }

    .hq-pg__title {
      margin-top: 19px;
      margin-bottom: 5px;
      padding: 0 15px;
    }

    .hq-pg__header--sub {
      min-height: 120px;
      padding: 0;
    }

    &__saveBtn {
      justify-content: space-between !important;
      border-top: 1px solid #e1e4e8;
      padding: 12px 25px;
      margin: 12px 0;
    }
  }

  &__saveBtn {
    display: inline-flex;
    justify-content: flex-end;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #15181c;
  }

  &__subTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    text-transform: capitalize;
    color: #03a9f4;
    border-bottom: none !important;
  }

  &__sections {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__input {
    border: 1px solid #95989a;
    border-radius: 3px;
    height: 36px;
    padding: 10px;
  }

  .message-error {
    margin: 5px 0;
    color: #f23648;
    display: block;
  }

  .icon-eye {
    top: 50%;
    right: 11px;
    position: absolute;
    transform: translateY(-50%);
    color: #95989a;
  }

  &__formInput__required {
    color: red;
    margin-left: 5px;
    height: 16px;
  }

  .fsi-pg__section-head {
    border-bottom: none !important;
  }

  .form-check {
    float: left;
    padding-right: 20px;
  }

  .form-input {
    margin-top: 15px;
  }
}

.scrollForContainHrm {
  overflow-y: scroll;
  max-height: calc(100vh - 45px);
  overflow-x: hidden;
}

.scrollForOnboardingContact {
  overflow-y: scroll;
  max-height: calc(100vh - 115px);
  overflow-x: hidden;
}

.onboarding-VEVRAA {
  &__saveBtn {
    display: inline-flex;
    justify-content: flex-end;
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
}
