.login {
    display: flex;
    background: $blue--dk;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    //z-index: 9999;
    &__overlay {
        width: 100%;
        height: 100%;
        z-index: $zindex-modal;
    }
    &__container {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
        max-height: 80vh;
        overflow: hidden;
        @include media-breakpoint-down(lg) {}
    }
    &__card {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border: none;
        text-align: center;
        .page__import-error {
            min-width: 40%;
            position: fixed;
            right: 8px;
            bottom: 8px;
            border: 1px solid grey;
            background: #fff;
            @include media-breakpoint-down(xl) {
                bottom: 68px;
            }
        }
        @include media-breakpoint-down(xl) {
            width: 100%;
        }
        @include media-breakpoint-up(lg) {
            width: 600px;
        }

        &--logout {
            @include media-breakpoint-up(lg) {
                width: 500px;
            }
        }
    }
    &__card-body {
        padding: 24px;
        overflow: auto;
    }
    &__card-header {
        background-color: white;
        position: relative;
        z-index: 1;
        border: none;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 5px;
            z-index: 1;
            background: $pink;
            background: -moz-linear-gradient(left, $pink 0%, $yellow 50%, $pink 100%);
            background: -webkit-linear-gradient(left, $pink 0%, $yellow 50%, $pink 100%);
            background: linear-gradient(to right, $pink 0%, $yellow 50%, $pink 100%);
            //filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='$pink', endColorstr='$pink', GradientType=0);
        }

        &--logout {
            
        }
        
    }
    &__card-footer {
        background-color: white;
        border: none;
    }
    &__title {
        text-align: center;
        font-size: 16px;
        margin-bottom: 28px;
    }
    &__logo {
        text-align: center;
        max-width: 220px;
        margin-bottom: 24px;
    }
    &__form {
        text-align: left;
        .form-group {
            &[required=required] {
                .form-control {
                    &~ ::after {
                        content: none;
                    }
                    &.show {
                        &~ ::after {}
                    }
                }
            }
        }
    }
    &__client-btn {
        color: $grey--900;
        text-transform: unset;
        text-align: left;
        justify-content: left;
        border: 1px solid $grey--200;
        span {
            font-weight: bold;
            font-size: 80%;
        }
        &:hover {
            border: 1px solid $grey--200;
            .login {
                &__client-icon {
                    //color: inherit;
                }
            }
        }
    }
    &__client-icon {
        color: $primary;
    }
}