#paymentMethodModal {
  .b-panel-header {
    padding: .65rem !important;
  }
  .b-panel-body-wrap {
    .b-text-content {
      background-color: white;

      .b-fa-exclamation:before {
        content: "\0021";
      }

      .custom-icon {
        float: left;
        height: 20px;
        width: 20px;
        position: relative;
        margin-right: 5px;

        &:before {
          position: absolute;
          border-radius: 50%;
          top: 49%;
          left: 49%;
          transform: translate(-50%, -50%);
          float: left;
          margin-top: 6px;
          font-size: 12px;
          padding-right: 0px;
        }
      }
    }
  }

  #footerPaymentMethod {
    .b-toolbar-content {
      padding-top: 15px;
    }
  }
}