#publishBulletinPanel {
    .title {
      span {
        margin-left: 15px;
        opacity: 0.5;
      }
    }
    .my-table {
      padding: 0 20px 0 20px;
      .subject {
        border: 1px solid #a7b0bc;
        border-radius: 5px;
        margin-top: 10px;
        padding: 10px 0 10px 0;
        display: flex;
        div {
          margin-left: 20px;
        }
        .idx {
          border: 1px solid #4594dd;
          width: 25px;
          text-align: center;
          color: #4594dd;
        }
        .data-title {
          width: 70%;
        }
      }
    }
    .my-table :hover {
      background-color: #eff1f3;
    }
  }
  