.setup {
    &__home {
        background: $grey--000;
        flex-direction: column;
        padding-top: 24px;
        min-height: 100% !important;
        @include media-breakpoint-down(xl) {
            padding-bottom: 60px;
        }
    }
    &__card {
        border-radius: 0;
        border: none;
        border-top: 3px solid $green;
        padding: 0 24px;
        cursor: pointer;
        height: 95px;
        @extend .shadow-sm;
        transition: all 300ms ease-in-out;
        margin-bottom: 24px;
        &:hover {
            @extend .shadow;
        }
    }
    &__card-container {
        @include media-breakpoint-up(xl) {
            min-width: 1000px;
        }
    }
    &__card-label {
        @include font-size(15px);
        font-weight: bold;
        // text-overflow: ellipsis;
        // overflow: hidden;
        // white-space: nowrap;
    }
    &__card-icon {
        @include font-size(28px);
        margin-right: 16px;
    }
    &__button {
        &.btn {
            height: auto !important;
            text-align: left;
            line-height: normal;
            background-color: lighten($grey--000, 10%);
            border-color: lighten($grey--000, 10%);
            &:hover {
                background-color: darken($grey--000, 5%);
                border-color: darken($grey--000, 5%);
            }
            .setup {
                &__button-icon {
                    color: $green;
                    @include font-size(28px);
                    margin-right: 12px;
                    width: 30px;
                }
            }
        }
    }
    &__button-heading {
        font-weight: bold;
        @include font-size(16px);
    }
    &__button-subheading {
        text-transform: none;
    }
}