.globalheader {
    height: $global-header-height;
    align-items: stretch;
    display: flex;
    z-index: 1040 !important;
    //border-bottom: 1px solid $grey--200;
    /*&:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        z-index: 1;
        background: $pink;
        background: -moz-linear-gradient(left, $pink 0%, $yellow 50%, $pink 100%);
        background: -webkit-linear-gradient(left, $pink 0%,$yellow 50%,$pink 100%);
        background: linear-gradient(to right, $pink 0%,$yellow 50%,$pink 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$pink', endColorstr='$pink',GradientType=0 );
    }*/
    @include media-breakpoint-down(xl) {
        height: $global-header-height--mobile;
        padding-left: 0;
    }
    &__brand {
        height: 100%;
    }
    &__brand {
        padding-top: 6px;
        padding-bottom: 6px;
        @include media-breakpoint-down(xl) {
            padding-top: 3px;
            padding-bottom: 3px;
        }
    }
    &__logo {
        height: 100%;
        vertical-align: unset;
        width: 100%;
    }
    .row {
        position: relative;
    }
    [class*="col-"] {
        overflow: hidden;
        position: static;
        height: 100%;
    }
    &__nav {
        margin-left: auto;
        align-items: center;
        @include media-breakpoint-down(xl) {}
    }
    &__toggle {
        align-self: center;
        cursor: pointer;
        //min-width: 72px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $workforce-blue;
        transition: background-color .15s ease-in-out;
        &:hover {
            background-color: darken($workforce-blue, 10%) !important;
        }
        .toggle-icon {
            @include font-size (20px);
        }
        &.animate__animated {
            a {
                .toggle-icon {
                    &--collapsed {
                        display: none;
                    }
                }
            }
        }
        a {
            &.not-collapsed {
                .toggle-icon {
                    &--collapsed {
                        display: none;
                    }
                }
            }
            &.collapsed {
                .toggle-icon {
                    &--not-collapsed {
                        display: none;
                    }
                }
            }
        }
        &--crew {
            background-color: $crew-purple;
            &:hover {
                background-color: darken($crew-purple, 10%) !important;
            }
        }
    }

    &__title {
        &--main {
            @extend .default-heading;
            color: $blue;
            @include media-breakpoint-down(xl) {}
        }
        &--sub {
            @include media-breakpoint-down(xl) {
                display: none;
            }
        }
    }
    &__dropdown-item {
        .nav-link {
            display: flex;
            align-items: center;
        }
    }
    &__item {
        font-size: 1.143em;
        @include media-breakpoint-down(xl) {}
        .dropdown-toggle {
            &::after {
                content: none;
            }
        }
        .btn-check:checked + .btn, .btn-check:checked + .b-chip, :not(.btn-check) + .btn:active, .btn:focus, :not(.btn-check) + .b-chip:active, .btn:first-child:active, .b-chip:first-child:active, .btn.active, .active.b-chip, .btn.show, .show.b-chip {
            color: $workforce-blue;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 24px 2px 24px;
        color: $blue !important;
        background-color: rgba(255, 255, 255, 0);
        letter-spacing: .5px;
        @include media-breakpoint-down(xl) {
            justify-content: flex-start;
        }
        &:hover {
            text-decoration: none;
            background-color: rgba(255, 255, 255, .1);
        }
        &.router-link-exact-active {
            background-color: $cerulean;
            font-weight: 500;
            letter-spacing: normal;
        }
    }
    &__icon {
        @include font-size(20px);
        vertical-align: top;
    }
    &__toggle {
        align-self: center;
        @include font-size (24px);
    }
    &__company-name {
        align-items: center;
        display: flex;
        color: rgba($black, .5) !important;
        padding-left: 24px;
        border-left: 1px solid $grey--000;
        @include media-breakpoint-down(xl) {
            font-size: 120%;
            padding-left: 16px;
        }
    }
    &__icon-container {
        position: relative;
    }
    &__notification-indicator {
        color: #FF5050;
        font-size: 0.6em;
        position: absolute;
        top: -1px;
        left: 10px;
    }
}
